#primary{
	width:100%;
	text-align:center;
}
.site-description{
	text-decoration:underline;
	border-right:3px solid white;
}

p{
	font-weight:bold;
}


.site-title{
	border-left:4px solid white;
	padding-left:6px;
}

.entry-header{
	background-color:#919191;
	border-radius:25px
	
	
}

.site-footer{
	background-color:#919191;
	text-align:center;
	
}

h1{
	text-transform:capitalize;
	
}

article{
	border:2px solid #919191;
	
}

h2{
	text-transform:capitalize;
	color:red;
}

h3{
	text-transform:capitalize;
	color:blue;
}

.navbar-small,
.navbar-no-fs{
	background-color:#919191!important;
}









